<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MERCADO LIEBRE</title>
</head>

<body>
        <header><img src="../images/logo-mercado-liebre.svg">

                <p>Lugar para poner barra de busqueda</p>
                <p>Compra en cuotas y sin tarjeta de credito</p>
                <nav>
                        <ul>
                                <li><a href="">Ofertas</a></li>
                                <li><a href="">Tiendas Oficiales</a></li>
                                <li><a href="">Vender</a></li>
                                <li><a href="">Ayuda</a></li>
                        </ul>
                        <ul>
                                <li><a href="">Crea tu cuenta</a></li>
                                <li><a href="">Ingresa</a></li>
                                <li><a href="">Mis compras</a></li>
                        </ul>
                </nav>
        </header>
        <main>

                <div>
                        <section>
                                <ul>
                                        <li>Seccion: Basado en tu ultima visita</li>
                                </ul>
                                <div><img src="../images/img-cafetera-moulinex.jpg">
                                <p>$6.770</p>
                                <p>40% OFF</p>
                                <p>Cafetera Moulinex</p></div>
                        </section>
                </div>
                <div>
                        <section>
                                <img src="../images/img-macbook-pro-2019.jpg">
                                <p>$230.000</p>
                                <p>20% OFF</p>
                                <p>MacBook Pro 2019</p>
                        </section>
                </div>
                <div>
                        <section>
                                <img src="../images/img-samsung-galaxy-s10.jpg">
                                <p>$70.500</p>
                                <p>10% OFF</p>
                                <p>Samsung Galaxy S10</p>
                        </section>
                </div>
                <div>
                        <section>
                                <img src="../images/img-tv-samsung-smart.jpg">
                                <p>$23.200</p>
                                <p>5% OFF</p>
                                <p>SmartTv Samsung 43"</p>
                        </section>
                </div>
                <div>
                        <section>
                                <ul>
                                        <li>Seccion: Basado en tu ultima visita</li>
                                </ul>
                                <img src="../images/img-cafetera-moulinex.jpg">
                                <p>$6.770</p>
                                <p>40% OFF</p>
                                <p>Cafetera Moulinex</p>
                        </section>
                </div>
                <div>
                        <section>
                                <img src="../images/img-macbook-pro-2019.jpg">
                                <p>$230.000</p>
                                <p>20% OFF</p>
                                <p>MacBook Pro 2019</p>
                        </section>
                </div>
                <div>
                        <section>
                                <img src="../images/img-samsung-galaxy-s10.jpg">
                                <p>$70.500</p>
                                <p>10% OFF</p>
                                <p>Samsung Galaxy S10</p>
                        </section>
                </div>
                <div>
                        <section>
                                <img src="../images/img-tv-samsung-smart.jpg">
                                <p>$23.200</p>
                                <p>5% OFF</p>
                                <p>SmartTv Samsung 43"</p>
                        </section>
                </div>


        </main>
        <footer>
                <section>
                        <ul><b>Paga con tarjeta o en efectivo</b></ul>
                        <p>Con Mercado Liebre Cash, tener cuotas sin interes con tarjeta o efectivo en puntos de pago.
                                !Y siempre es seguro!</p>
                </section>
                <section>
                        <ul><b>Envio gratis desde $2.500</b></ul>
                        <p>Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un
                                beneficio de Mercado Puntos</p>
                </section>
                <section>
                        <ul><b>Seguridad, de principio a fin</b></ul>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas
                                siempre protegid@ </p>
                </section>
                <section>
                        <ul>
                                <li>Copyright @ 1999-2020 MercadoLiebre S.R.L</li>
                        </ul>
                </section>
        </footer>
</body>

</html>